body{
    margin: 0;
 
}
h1{
    font-family: 'Kalam', cursive;
    font-size: 50px;
}

h2, h3{
    font-family: 'Kalam', cursive;

}
 p{
    font-family: 'Poppins', sans-serif;

}
.name-color{
    color: coral;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    background-image:linear-gradient(to right,#ff6b81, #ff4757) ;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
    transition: .3s;
}
.link-button:hover{
    font-size: 17px;
    text-decoration: underline;
    background-image: linear-gradient(to right,#ff4757,#ff6b81);
    color: rgb(222, 238, 238);
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp{
    text-align: center;
}
.experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 5px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    
}
.experiences-item h2{
    font-size: 40px;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(#f3091d, #fa7f91) ;
    border-image-slice: 1;
}
footer p{
    background:center ;
    text-align: center;
    transition: 1s;

}
footer p:hover{
    font-size: 20px;
    background-color: rgb(243, 58, 11);
    color: rgb(247, 255, 255);
}
